@font-face {   
    font-family: "Bebas";   
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');             
  }
  
  @font-face {
    font-family: "times";
    src: url('fonts/Times\ New\ Roman.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: "times italic";
    src: url('fonts/Times\ New\ Roman\ Italic.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: "times bold";
    src: url('fonts/Times\ New\ Roman\ Bold.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: "times bold italic";
    src: url('fonts/Times\ New\ Roman\ Bold\ Italic.ttf') format('truetype'); 
  }

  mark {
    background-color: #FFDA69 !important;
    line-height: 1.8rem;
  }

  a {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: inherit;
    text-decoration: none !important;
  }

  h1{
    font-family: "times bold";
    font-size: 22px !important;
    line-height: 1.1rem;
  }

  h3{
    font-family: "times italic";
    font-size: 3rem !important;
    line-height: 3rem !important;
  }

  h4 {
    font-family: "times bold";
    font-size: 14px !important;
  }

  h5{
    font-family: "times italic";
    font-size: 2rem !important;
    line-height: 2rem !important;
  }

  p {
    font-family: "times";
    font-size: .9rem;
  }

  .gray-bar{
    background-color: #E1E1E1;
    height:35px;
  }

  .card{
    border: 10px solid #FFCAD0 !important;
    border-radius: 0px !important;
  }

  .container-fluid{
    padding: 0px !important;
  }

  header{
    display: flex;
    align-items: end;
    justify-content: start;
    height: 122px;
    padding: 0px 30px 20px 30px;
    width:100%;
  }

  nav {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .logo{
    font-family: "times bold";
    font-size: 30px;
    line-height: 1.5rem;
    margin-left: 50px;
  }

  nav li{
    font-family: "times";
    list-style: none;
    font-size: 1.1rem;
    padding-right: 20px;
    align-items: end;
  }

  nav a:hover{
    text-decoration: none;
    color: #FFCAD0 !important;
  }

  ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-bottom: 0px !important;
  }

  section{
    margin-bottom: 100px;
  }
  
  .row{
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 9px 0;
    transition: 0.9s;
    border-radius: 3px;
  }

  /* drop down menu styling*/

.menu {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}


.menu #mobilemenu {
    display:none;
    font-family: "times italic";
    background-color: #fff;
    position: absolute;
    min-width: 150px;
    padding: 20px 20px;
    text-align: center;
    top:50px;
    right: 0px;
    z-index: 5;
  }

#mobilemenu li{
    list-style: none;
}

#mobilemenu li a:hover{
   color:#FFCAD0 !important;
}


/*home page guts styles*/

.hero{
  background-image: url("images/hero.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.hero-headliner{
  font-size: 25vw;
  text-transform: uppercase;
  font-family: "Bebas";
  color:#fff;
  font-weight: 700;
  line-height: 20vw;
}

.spacer{
  height: 25px;
  background-color: #FFCAD0;
  margin-bottom: 100px;
}

.image-slider{
  border: 12px solid #FFCAD0;
  width: 350px;
  height: 350px;
  z-index: 0;
  position: relative;
}

.image-arrows{
  background-color: #FFCAD0;
  color:#fff;
  font-weight: 500;
  padding: 3px 15px;
  position:absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

.headliner{
  margin-left: 10%;
  margin-top: 150px;
  font-size: 15vw;
  line-height: 12vw;
  font-family: "Bebas";
  font-weight: 700;
  color:#FFCAD0;
}

.sub-liner{
  margin-left: 10%;
  font-size: 6vw;
  font-family: "times italic";
  color:#E1E1E1;
  line-height: 4rem;
}

.abs-flower-one{
  position: absolute;
  right: 2%;
  top: 15%;
}

.abs-flower-two{
  position:absolute;
  right: 28%;
  top: 35%;
}

.abs-flower-three{
  position:absolute;
  right: 20%;
  top: 55%;
}

/*shop styles*/



/*footer styles */

  footer{
    background-color: #FFCAD0;
    padding: 50px;
  }

  footer li{
    font-family: "times bold";
    list-style: none;
    text-align: left;
    font-size: .9rem;
    padding-right: 20px;
  }

  footer li:hover{
    text-decoration: none;
    color: #fff;
  }

